body{
	width: 1400px; 
	margin: 20px auto; 
	padding: 1000;
	background-color:#FDF5E6;
	}

header { 
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: border-box;
	background-clip: content-box;
	width:1400px;
	padding:5px 0;
}
#header1
{
	font-family: Time News Roman;
	font-size:90px;
	font-weight:Bold;
	text-align:center;
	background-color:rgba(245,222,179,0.5);
}

h2{
	text-align:center justify;
	font-size:30px;
	font-family: Time News Roman;
	color:#8B4513;	
}
h3 {
	font-size:20px;
	font-family: Time News Roman;
	color:#8B4513;
}
p{
	font-size:18px;
	font-family: Time News Roman;
	color:#8B4513;
	text-align:justify;	
}
nav{
    background-color:#F5DEB3; 
    padding: 20px 0; 
    text-align: center; 
}

nav a{
	
    font-size: 20px; 
    font-weight: bold; 
    color: #8B4513; 
    text-decoration: none; 
	padding:40px;
}
	
	nav ul{ 
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav>ul>li{ 
    display: inline-block; 
    position: relative; 
}

nav ul li ul { 
	width: 200px;
	position: absolute; 
	z-index: 999; 
	text-align: left;
	background-color: #CD853F;
    box-shadow: 0 0 5px #BC8F8F;
}

nav ul li ul li a{
    color: white;
    padding: 10px;
    display: block; 
}

nav ul li ul li:hover a:hover{ 
    color: #890417;
    background-color: #f7e7d9;
}
nav ul li ul { 
    display: none; 
}

nav ul li:hover ul{
    display: block; 
}
.leftsidebar{
			width: 200px;
			height: 450px;
			float: left;
			padding-top:5px;
			}
.leftsidebar h2 
{
	font-size:20px;
	font-family: Time News Roman;	
}
.collection 
{
	display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-bottom: 20px;	
}
.collection img {
	display: block;  
	width:100px;
	opacity : 0.8;
	border:solid 10px #F5DEB3;
    box-shadow: 10px 10px 10px 5px #F5DEB3;
	border-radius: 50%;	
}
		main {
			width: 600px; 
			float: left;
			text-align:center;
			margin:20px;
			}

.rightsidebar {
			width:400px;
			height:400px;
			float: right;
			 }	
.expert {
		background-color:#F5DEB3;
		padding:20px;
		
		}
.expert p
{
    font-size:20px;
	font-family: Time News Roman;
	color:#8B4513;
    text-align: justify;	
	
}
.expert ul 
{
	font-size:20px;
	font-family: Time News Roman;
	color:#8B4513;	
	
}			 
footer{
	clear: both; 
	text-align: center; 
	font-weight: bold; 
	padding: 2px 0; 
    font-size:20px;
	color:#8B4513;
	background-color:#F5DEB3;	
	}

main.gallery{
    width: 50%;
}
.gallery h2 {
	
	text-align: center;
	font-size:25px;
	color: #8B4513;
}
.photos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}
.gallery figure {
    margin: 0; 
    position: relative; 
}
.gallery img {
	display: block;
	width:350px;
}
figcaption {
	color: 	#8B4513;
	font-family: sans-serif;
	font-size: 20px;
	padding: 6% 2%;
	text-align: center;
	position: absolute; 
	bottom: 0; 
	background-color: rgba(245,222,179,0.64);
	width:96%;
}
.clip1{
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%); /* Clip the figure at different angles to remove boxy-ness */
}
.clip2 {
	clip-path: polygon(8.89% 0.37%, 100% 0%, 87.04% 43.58%, 94.72% 100.01%, -0.28% 97.76%, 10.69% 44.96%);
}
.clip3 {
	clip-path: polygon(16.95% 0.75%, 86.67% 4.63%, 98.55% 48.52%, 92.50% 96.67%, 9.16% 99.79%, 0.46% 46.47%);
}
.clip4 {
	clip-path: polygon(1.11% 6.3%, 100% 2.96%, 86.05% 45.55%, 94.72% 98.53%, 1.94% 100.35%);
}
.order{

width:50%;
}
.order h2{
		text-align: center;
		color: #8B4513;
		font-family: Time News Roman;
	}
.sales{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
		margin: 10px;
		font-family: sans-serif;
		font-size:10px;		
	}
	.jewelry{
		display: flex;
		flex-flow: column;
		border: 2px solid #8B4513;;
		border-radius: 10px;
		padding: 20px;
		box-shadow: 0 0 5px #8B4513;
	}
	.jewelry h3{
		margin: 20px 0 0 0;
	}
	.jewelry button{
		margin-top: auto;
		background: #8B4513;
		color: white;
		padding: 10px;
		border: none;
		border-radius: 10px;
		font-size: 21px;
		font-family: Time News Roman;
		font-weight: bold;
	}
	
	.jewelry > img{
		order: -1;
		align-self: center;
		display: block;
	}
.imageJewelry {
	height:200px;
	width:200px;
	border-radius:20px;
}

.rightsidebar ul
{
	list-style-type: none; 
    padding:10px;
    margin: 10px;
	width: 360px;
    box-shadow: 0 0 5px #8B4513;
}
.rightsidebar li 
{
	font-size: 36px;
	color:#8B4513;
	
}
.rightsidebar li:nth-child(odd){
 color: white; 
background-color: #F5DEB3; }

table {
			border:2px solid #8B4513;
			border-collapse:collapse;
			}
	th,td { 
			border:2px solid #8B4513;
			padding:20px;
			margin:10px;
			}
	thead{background-color: blancheda1mond;}

.rightsidebar form{ 
    display: grid; 
    grid-template-rows: auto ; 
    grid-gap: 40px; 
    margin-bottom: 30px; 
}
.field { 
margin: 10px 5px; }
.field label{ 
    display: inline-block; 
    width: 105px; 
    vertical-align: top; 
}
.field input{ 
    width: 200px; 
} 
.field textarea{ 
    width: 200px; 	
} 
.rightsidebar fieldset{ 
    border: 2px solid #8B4513; 
} 
.rightsidebar fieldset legend{ 
    font-size: 18px; 
    font-weight: bold; 
    padding: 0 10px; 
} 
.submit{ 
    border: 2px solid #8B4513; 
    padding: 20px; 
    margin-top: 9px; 
}
.submit div{ 
    margin: 0 0 10px 0; 
} 
.submit button{ 
    border: 2px solid #8B4513; 
    background-color: #8B4513; 
    color: white; 
    font-weight: bold; 
    padding: 5px 10px; 
}
@media only screen and ( max-width: 800px) 
{
	
	header{
		
        width: 60%; 
	}
	nav 
	{
		 width: 60%; 
	}
	
   main{
	   width:30%
   }
  footer{
	  width: 60%;
  }
}